*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.debug{
    background-color: rgba(166, 83, 244, 0.1);
    border: 1px dotted black;
}

.dflex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

/* header */

header{
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

ul{
    padding: 5px;
}

li{
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.container{
    width: 100%;
}

.row{
    width: 100%;
    justify-content: space-between;
}

.col2 a{
    background-color: #0061ff;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    display: inline-block;
}

/* main */

.box{
    margin: 0 auto;
    padding-top: 50px;
    max-height: 550px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b4d0e6;
}

.titolo{
    max-width: 800px;
}

.titolo h1{
    font-size: 60px;
}

.info{
    max-width: 300px;
    font-size: 15px;
    position: relative;
}

.info p{
    padding-top: 30px;
    padding-bottom: 30px;
}

.info a{
    color: white;
    background-color: #0061ff;
    padding: 5px;
    text-decoration: none;
}

.info i{
    font-size: 40px;
}

.foto{
    max-width: 500px;
    padding-top: 20px;
}

.foto img{
    max-width: 700px;
}

.cont2{
    justify-content: center;
}

/* cards */

.box2{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: left;
}

.row1{
    justify-content: space-between;
}

.title{
    width: 100%;
}

.title h2{
    font-size: 30px;
}

.title li{
    margin-top: 20px;
    padding: 5px;
}

.tipologia{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #d0cfd4;
}

.col{
    max-width: 30%;
    max-height: 100%;
    margin-top: 20px;
    border: 1px solid #d0cfd4;
}

.acquista p{
    color: grey;
}

.col p{
    padding: 15px;
}

.col li{
    padding: 10px;
}

.col li:first-child{
    margin-top: 20px;
}

.col li:first-child::before{
    content: '\f007';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.col li:nth-child(2)::before{
    content: '\f07b';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.col li:last-child::before{
    content: '\f1e0';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.bottone{
    text-align: center;
    margin-top: 20px;
}

.col a{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.acquista{
    margin-top: 10px;
}

.acquista a{
    background-color: white;
    color: blue;
    text-decoration: underline;
}

.punti p{
    color: black;
    font-weight: bold;
}

.lista ol li:before{
    content: '\f00c';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: #0061ff;
}

.team{
    max-width: 100%;
    margin-top: 40px;
    border: 1px solid #d0cfd4;
    position: relative;
}

.tipologia1{
    text-align: center;
    border-bottom: 1px solid #d0cfd4;
}

.team p{
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.team h3{
    padding: 5px;
    margin-top: 20px;
}

.team .solutions{
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.team a{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px;
    position: absolute;
    top: 50px;
    right: 10px;
}

/* foto box */

.image{
    max-width: 500px;
}

.image img{
    max-width: 100%;
}

.testo{
    max-width: 300px;
    padding: 20px;
}

.testo p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.testo a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
}

/* cards e foto */

.box3{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.col1{
    max-width: 30%;
    max-height: 100%;
    margin-top: 20px;1
}

.foto img{
    max-width: 100%;
}

.didascalia p{
    padding-top: 10px;
    font-size: 15px;
}